.containers-card{
    
    width: 100%;
    
}

.cards{
    
    width: 20%;
    height: 30rem;
    margin: 15px;
    box-shadow: 2px 4px 13px -6px;
}

.img {
    border-bottom: 1px solid gray;
    height: 50%;
}

h1{
   
    padding-bottom: 30px;
    margin-bottom: -17px;
    align-items: center;
    display: flex;
    border-bottom: 1px solid gray;
}

h3 {
    
    padding-bottom: 30px;
    border-bottom: 1px solid gray;
}

.card-price {
    display: flex;
    justify-content:  space-around;
    border-bottom: 1px solid gray;
   
}
