@import "../styles/vars";

.container {
  display: flex;
  justify-content: center;
}

.card-container {
  width: 18rem;
  height: 27rem;
  margin: 60px;
  box-shadow: 2px 4px 13px -6px;
}

.card-image {
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-detail {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.title {
  padding: 0.5rem;
}
.description {
  padding: 1.5rem;
}

.price {
  padding: 0.6rem;
}

.rating {
  padding: 0.8rem;
}

.view-product {
  padding: 0.7rem;
  cursor: pointer;
  background-color: $colorView;
}
