.product-creation-contained {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-creation-name {
  padding: 2.5rem 0;
  text-align: center;
}

.creation {
  padding-bottom: 15px;
}
