@import "../styles/vars";

.product-creation-container {
  width: 100%;
}

.product-creation-name {
  padding: 2.5rem 0;
  text-align: center;
}

.product-inputs {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 30px;
}

.input-container {
  padding-bottom: 15px;
  margin: 0 2rem;
}
.input-width {
  width: 300px;
}

.product-create-price {
  margin-left: 80px;
  width: 300px;
  height: 300px;
  font-size: 70px;

  text-align: center;
  justify-content: center;
}

.price-title {
  font-size: 40px;
  padding-bottom: 30px;
}

.input-images {
  margin-top: 20px;
}

.button-add-image {
  text-align: center;
  border: 1px solid $colorBackgraund;
  padding: 0.5rem 0;
  margin-left: 80%;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 3px;
}

.button-add-image:hover {
  transition: 0.5s ease;
  background-color: $colorBackgraund;
}
