.product-creation-container {
  width: 100%;
}

.product-creation-name {
  padding: 2.5rem 0;
  text-align: center;
}

.product-inputs {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 30px;
}

.input-label {
  padding-bottom: 15px;
  margin: 0 2rem;
}
.input-width {
  width: 300px;
}
